<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommend</title>
  </head>
  <body>
    <h1>Recommended Music Playlist</h1>
    {% if picture %}
    <p>Name : {{ picture.name }}</p>
    <p>Author : {{ picture.author }}</p>
    <img src="{{ picture.picture.url }}" alt="Uploaded picture" style="width: 50%; height: 50%" />
    {% else %}
    <p>No picture Uploaded.</p>
    {% endif %}
    <table border="1">
      <tr>
        <th>순서</th>
        <th>제목</th>
        <th>아티스트</th>
        <th>앨범</th>
        <th>장르</th>
      </tr>
      {% for item in random_playList %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.artist }}</td>
        <td>{{ item.album }}</td>
        <td>{{ item.genre }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
